.count-button {
  padding: 0.5rem 1.2rem;
  border: 2px solid #cecece;
  border-radius: 20px;
  margin-bottom: 20px;
  font-weight: 500;
  background-color: #393939;
  cursor: pointer;
  outline: none;
}
